*{
    background-color: #ECE6C2;
}
div .cab{
    display: flex;
    justify-content: center;
}
div .hb{
    background-color: #D2A24C;
    box-shadow: 5px 5px;
    float: left;
    padding: 10px;
    margin: 10px;
    margin-top: 1.5%;
}
div #boton{
    width: 15%;
    height: 2.5vh;
    font-size: 1,5em;
    text-align: center;
}

div .hl{
    float: left;
}
div img{
    height: 75px;
    width: 75px;
}

