*{
    padding:0px;
    margin:0px;
    text-decoration: none;
}
body{
    background-color: #ECE6C2;
}
header{
    display: block;
    margin:auto;
    width: 900px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
ul{
    list-style: none;
}
/*Daremos estilo a nuestro menú principal, contenido en la clase nav*/
.nav li a{
    /*Los elementos a que están en el li directamente de la clase nav, heredarán las propiedades
    que le indicamos a continuación*/
    background-color: #D2A24C;
    box-shadow: 5px 5px;
    float: left;
    padding: 10px;
    margin: 10px;
    margin-top: 1.5%;
    text-decoration: none;
    
    /*Le asignamos un padding top y bottom de 10px,y laterales de 15px. Esto es según vuestras características
     NO hace falta coger el mismo valor*/
     padding: 10px 15px;
     
    /* Por defecto, los elementos están en línea.Si los dejamos como tal, se solapan.
    Los convertimos a block (bloque), y conseguimos el resultado de un conjunto decajas alineadas.*/
    display: block;
}
.nav li a:hover{
    background-color: #e6b355;
}
.nav > li{
    /*Indicamos que los elementos directos li que están en nav, tendrán las 
    siguientes características*/
    float:left;
}
.nav li ul{
    /*Ocultar los submenús, y los los mostraremos*/
    display:none;
    /*Establecemos una posición absoluta a los submenús, con un tamaño mínimo de anchura
    para que todos sean iguales*/
    position: absolute;
    min-width: 10px;
    margin-top: 6.7vh;
}

.nav li:hover > ul{
    /*Mostramos los submenús cuando sólo pasamos el ratón por encima de la opción marcada*/
    display:block;
}
.nav li ul li{
    position:relative;
}
.nav li ul li ul{
    right:-140px;
    /* left:-140px; */
    top:100px;
}


body{

    font-family:Franchise ;
    
}
