ul{
    list-style-type: none;
    
}
li{
    background-color: blueviolet;
    float:left;
    margin-right: 10px;
    width: 50px;
    text-align: center;
    padding:0 4px;
    border:2px solid #E49BF8;
}
a{
    color:white;
    padding:0 4px;
    text-decoration: none;
}
a:hover{
    background-color: #E49BF8;
    color:blueviolet;
}
li:hover{
    background-color: #E49BF8;
    color:blueviolet;
    border:2px solid blueviolet;
}